.slide-frame-other {
    padding-top: 250px;
    padding-bottom: 150px;
  	width: 100%;
}

.search-text {
	padding-right: 0px;
    padding-top: 4px;
    text-align: center;
}

.search-text-content {
	font-size: 30px;
	color: white;
}

.search-form {
    margin-top: 4px;
}

.input-group {
    height: 20px;
    width: 300px;
}

#srch-term {
    font-size: 13px;
    padding: 0px;
    padding-left: 10px;
    padding-top: 18px;
    padding-bottom: 18px;
    border-radius: 5px;
}

#srch-term:focus {
    border-right: none;
}

.add-on .input-group-btn > .btn {
    border-left-width: 0;
    left:-3px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    padding-top: 8px;
    padding-bottom: 8px;
}

.add-on .form-control:focus {
    box-shadow:none;
    -webkit-box-shadow:none;
    border-color:#cccccc; 
}

.group-search {
    width: 100%;
}

.banner-bottom {
	background-image: url(../../Images/oceanlink/banner-bottom-1.png);
    position: relative;
    padding: 0px;
	height: 650px;
	margin-top: 50px;
    -webkit-background-size: 100% 100%; /* For WebKit*/
    -moz-background-size: 100% 100%;    /* Mozilla*/
    -o-background-size: 100% 100%;      /* Opera*/
    background-size: 100% 100%;         /* Generic*/
}

.banner-bottom-overlay {
    background-color: black;
    opacity: 0.5;
	height: 100%;
    width: 100%;
    position: absolute;
}

footer {
    background-color: transparent;
    background-image: url(../../Images/oceanlink/footer.png);
    -webkit-background-size: 100% 100%; /* For WebKit*/
    -moz-background-size: 100% 100%;    /* Mozilla*/
    -o-background-size: 100% 100%;      /* Opera*/
    background-size: 100% 100%;         /* Generic*/
	border: none;
	color: white;
    margin-top: 300px;
    width: 100%;
    position: absolute;
}