.tour-banner {
    height: 500px;
    background-color: white;
    padding: 0px;
    width: 100%;
    margin-top: 20px;
}

.flex-direction-nav {
    display: none;
}

.tour-banner-inner {
    width: 100%;
    height: 98%;
    -webkit-background-size: 100% 100%; /* For WebKit*/
    -moz-background-size: 100% 100%;    /* Mozilla*/
    -o-background-size: 100% 100%;      /* Opera*/
    background-size: 100% 100%;         /* Generic*/
}

.effect2 {
	position: relative;
}

.effect2:before, .effect2:after
{
	z-index: -1;
  	position: absolute;
  	content: "";
  	bottom: 20px;
  	left: 50px;
  	width: 50%;
  	top: 70%;
  	box-shadow: 0 20px 20px black;
  	transform: rotate(-2.5deg);
}
.effect2:after
{
  transform: rotate(2.5deg);
  z-index: -1;
  right: 50px;
  left: auto;
}

.effect4
{
  position: relative;
}
.effect4:after
{
  z-index: -10;
  position: absolute;
  content: "";
  bottom: 12px;
  right: 15px;
  left: auto;
  width: 400px;
  top: 85%;
  background: #777;
  box-shadow: 0 15px 10px black;
  transform: rotate(2deg);
}

.tour-info {
    height: 490px;
    font-size: 13px;
    background: rgba(0, 0, 0, 0.75);
    padding: 20px 30px 20px 30px;
    z-index: 800;
}

.tour-info hr {
    border: 1px dashed #f3f1f2;
}

.tour-name {
    color: #edcb12;
    text-transform: uppercase;
    font-size: 25px;
}

.tour-info-detail {
    color: white;
}

.tour-detail {
    margin-top: 30px;
}

.tour-detail hr {
    margin: 0px;
    margin-top: 10px;
    border-top: 2px solid #dddddd;
}

.nav-tabs {
	font-weight: bold;
	font-size: 18px;
	border-bottom: 2px solid #dddddd;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	border-top: 2px solid #dddddd;
	border-left: 2px solid #dddddd;
	border-right: 2px solid #dddddd;
	border-bottom: none;
    position: relative;
    top: 1px;
}

#tour {
    color: #0878c0;
}

#policy {
    color: #c11a1a;
}

.about-content {
    padding: 10px 20px 10px 20px;
    color: black;
    max-height: 365px;
    min-height: 365px;
}

.service-head {
    margin-top: 15px;
    font-size: 18px;
    font-weight: bold;
    color: #0678bf;
}

.service-body {
    margin-top: 10px;
    font-size: 13px;
    padding: 0px;
    padding-right: 15px;
    color: #0678bf;
    max-height: 360px;
    min-height: 360px;
}

.schedule-head {
    margin-top: 15px;
}

.schedule-head > div {
    color: #f0631b;
    font-size: 18px;
    font-weight: bold;
}

.schedule-body {
    margin-top: 10px;
}

.booking-btn {
    background-color: #f1841b;
    width: 80px;
}

.booking-off {
    color: #369306;
}

.booking-btn:hover {
    background-color: #17afee;
}

.booking-btn:visited {
    outline: none;
}

.schedule-item {
    height: 50px;
}

.content-hide-1 {
    display: none;
    position: absolute;
    left: 0px;
    right: 0px;
    width: 100%;
    bottom: 0px;
    background-color: white;
}

.tour-similar-head {
    margin: 0px;
    margin-top: 25px;
}

.tour-similar-head > span {
    color: #0d9f9e;
    font-size: 18px;
    font-weight: bold;
}

.tour-similar-button > .button {
    background-color: white;
	border: 1px solid rgb(225, 225, 225);
	box-shadow: 0px 1px 3px rgba(000,000,000,0.5), inset 0px 0px 5px rgba(255,255,255,0.6);
	text-shadow: 0px -1px 3px rgba(255,255,255,0.8), 0px 1px 0px rgba(255,255,255,0.3);
    width: 22px;
    font-size: 10px;
    padding: 0px;
    height: 22px;
}
#down-button-tour,
#down-button-room {
    background: url(/Images/oceanlink/down.png);
    -webkit-background-size: 100% 100%; /* For WebKit*/
    -moz-background-size: 100% 100%;    /* Mozilla*/
    -o-background-size: 100% 100%;      /* Opera*/
    background-size: 100% 100%;         /* Generic*/
}

#up-button-tour,
#up-button-room {
    background: url(/Images/oceanlink/up.png);
    -webkit-background-size: 100% 100%; /* For WebKit*/
    -moz-background-size: 100% 100%;    /* Mozilla*/
    -o-background-size: 100% 100%;      /* Opera*/
    background-size: 100% 100%;         /* Generic*/
}

.tour-similar-body {
    margin: 0px;
    margin-top: 20px;
}

.tour-post-1 {
	border: 1px solid rgb(177, 177, 177);
	padding: 0px;
	margin-bottom: 30px;
    background-color: white;
    height: 170px;
}

.blog-post-1 {
    padding: 5px;
    height: 100%;
    border-right: 1px solid rgb(177, 177, 177);
    background-color: white;
}

.blog-thumb-1 {
    height: 100%;
    -webkit-background-size: 100% 100%; /* For WebKit*/
    -moz-background-size: 100% 100%;    /* Mozilla*/
    -o-background-size: 100% 100%;      /* Opera*/
    background-size: 100% 100%;         /* Generic*/
}

.blog-content-1 {
    margin: 0px;
    position: relative;
    height: 116px;
}

.blog-price-1 {
    margin: 0px;
    border-top: 1px solid rgb(225, 225, 225);
    bottom: 0px;
    position: absolute;
    width: 100%;
}

.tour-post-title-1 {
	padding: 5px 15px 5px 15px;
	text-transform: uppercase;
	font-weight: bold;
    font-size: 17px;
	color: black;
}

.tour-post-location {
	padding: 5px 15px 5px 15px;
	color: rgb(159, 159, 159);
}

.tour-price-1 {
	font-weight: bold;
	font-size: 20px;
	padding-top: 10px;
    padding-left: 5px;
    padding-right: 0px;
	color: rgb(205, 20, 20);
    background-color: white;
}

.blog-info {
     padding: 0px;
     height: 100%;
     position: relative;
}

.blog-price-1 > .col-sm-5 {
	padding: 0px;
	padding-bottom: 0px;
    border-left: 1px solid rgb(225, 225, 225);
}

.tour-booking-1 {
    background-color: white;
	height: 100%;
	padding-top: 10px;
    padding-bottom: 11px;
	text-decoration: none;
	color: rgb(58, 56, 57);
	text-align: center;
}

.tour-booking-1 > a {
	text-decoration: none;
	color: black;
}

.tour-booking-1 > a > img {
	margin-right: 5px;
}

.tour-booking-1 > a > span {
	font-weight: 500;
}

.tour-booking-1:hover {
	background-color: #f3c50f;
}

.tour-post-text-hide-1 {
    margin: 0px;
    padding: 3.5px 10px 3.5px 10px;
}

.schedule-body-content {
    padding: 0px;
    font-size: 13px;
    margin-top: 10px;
}

.room-image {
    min-height: 100px;
}

.room-info {
    font-weight: bold;
}

.room-info > .room-name {
    font-size: 16px;
    margin: 0px;
}

.room-info > .room-quantity {
    margin: 0px;
    margin-top: 20px;
}

.room-price {
    padding: 0px;
    text-align: center;
}

.room-price > span {
    font-size: 16px;
    font-weight: bold;
    color: #c9110f;
}

.btn-room-view,
.btn-room-view:hover {
    color: black;
    width: 100%;
    background-color: #f3c50f;
    margin-top: 10px;
    padding: 10px 0px 10px 0px;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
}

.room-rent-out {
    color: #1a9d00;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    margin-top: 15px;
}

.room-service {
    border-top: 2px solid #dddddd;
    border-bottom: 2px solid #dddddd;
    margin-top: 10px;
    padding: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #f1f1f1;
}

.room-service-current {
    padding: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #f1f1f1;
    color: black;
}

.util {
    font-weight: bold;
}

.tour-post-star {
	padding: 0px 15px 0px 15px;
    white-space: normal;
}

.content-show-1 > hr {
    margin: 5px 10px 0px 10px;
	border-top: 1px solid rgb(225, 225, 225);
}

.content-hide-1 > hr {
    margin: 0px 10px 0px 10px;
	border-top: 1px solid rgb(225, 225, 225);
}

.available-service-1 {
    padding: 0px;
    font-size: 13px;
}

.available-service-1 > div {
    padding-top: 1.5px;
    padding-bottom: 1.5px;
}

.hotel {
    padding: 0px;
    margin-top: 20px;
}

.hotel > div {
    padding: 0px;
}

.hotel-name {
    text-transform: uppercase;
    font-size: 25px;
    font-weight: bold;
}

.hotel-star {
    margin-top: 5px;
    text-align: center;
}

.hotel-address {
    margin-top: 5px;
}

.hotel-address > span {
    float: right;
}

.room-pic-price {
    margin: 0px;
    color: #08e7f6;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.room-tax {
    margin: 0px;
    text-align: center;
}

.btn-room-book,
.btn-room-book:hover {
    color: black;
    width: 80%;
    background-color: #f8b21e;
    margin-top: 10px;
    padding: 10px 0px 10px 0px;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    position: absolute;
    left: auto;
    right: auto;
    bottom: 20px;
}

.service > hr {
    border-top: 2px solid #dddddd;
}

.room-description {
    margin-top: 10px;
    color: black;
    padding: 0px;
}

.tab-content {
    border-bottom: 2px solid #dddddd;
    border-left: 2px solid #dddddd;
    border-right: 2px solid #dddddd;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}