@model String
@if (!Model.Equals("Default"))
{
    <div class="input-group date col-md-8" style="padding: 0px">
        @Html.TextBox("", String.Format("{0:MM/dd/yyyy}", DateTime.Parse(Model)), new { @class = "form-control date-picker" })
    </div>
}
else
{
    <div class="input-group  date col-md-8" style="padding: 0px">
        @Html.TextBox("", String.Format("{0:MM/dd/yyyy}", DateTime.Now), new { @class = "form-control date-picker" })
    </div>
}
@{
    string name = ViewData.TemplateInfo.HtmlFieldPrefix;
    string id = name.Replace(".", "_");
}
<script type="text/javascript">
    $(".date-picker").datepicker({
        format: "mm/dd/yyyy"
    });
</script>
