@{
    Layout = "~/Views/Shared/_LayoutOceanlinkTour.cshtml";
}
<link rel="stylesheet" href="~/Content/oceanlink/datvemaybay.css" />
<script type="text/javascript" src="~/Scripts/datvemaybay.js"></script>
<div class="container">
    <div style="text-align: center; font-size: 35px; margin-top: 30px;">
        <div>
            <span>CẢM ƠN BẠN ĐÃ SỬ DỤNG DỊCH VỤ CỦA CHÚNG TÔI</span>
        </div>
        <div>
            <span>NHÂN VIÊN <span style="color: #1090bf;">OCEANLINK TRAVEL</span> SẼ LIÊN HỆ VỚI BẠN TRONG THỜI GIAN SỚM NHẤT</span>
        </div>
    </div>
    <a style="color: white; background-color: #3F9D0B; padding: 10px 20px;" href="/trang-chu" type="button" class="btn">Quay về trang chủ <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
</div>
