.tour-banner {
    height: 500px;
    background-color: white;
    padding: 0px;
    width: 100%;
    margin-top: 20px;
}

.flex-direction-nav {
    display: none;
}

.tour-banner-inner {
    width: 100%;
    height: 98%;
    -webkit-background-size: 100% 100%; /* For WebKit*/
    -moz-background-size: 100% 100%;    /* Mozilla*/
    -o-background-size: 100% 100%;      /* Opera*/
    background-size: 100% 100%;         /* Generic*/
}

.effect2 {
	position: relative;
}

.effect2:before, .effect2:after
{
	z-index: -1;
  	position: absolute;
  	content: "";
  	bottom: 20px;
  	left: 50px;
  	width: 50%;
  	top: 70%;
  	box-shadow: 0 20px 20px black;
  	transform: rotate(-2.5deg);
}
.effect2:after
{
  transform: rotate(2.5deg);
  z-index: -1;
  right: 50px;
  left: auto;
}

.effect4
{
  position: relative;
}
.effect4:after
{
  z-index: -10;
  position: absolute;
  content: "";
  bottom: 12px;
  right: 15px;
  left: auto;
  width: 90%;
  top: 85%;
  background: #777;
  box-shadow: 0 15px 10px black;
  transform: rotate(2deg);
}

.tour-info {
    height: 490px;
    background: rgba(0, 0, 0, 0.75);
    padding: 20px 30px 20px 30px;
    z-index: 800;
}

.tour-info hr {
    border: 1px solid #f3f1f2;
}

.tour-name {
    color: #edcb12;
    text-transform: uppercase;
    font-size: 25px;
}

.tour-info-detail {
    color: white;
    font-size: 13px;
}

.tour-detail {
    margin-top: 30px;
}

.nav-tabs {
	font-weight: bold;
	font-size: 18px;
	border-bottom: 2px solid #dddddd;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	border-top: 2px solid #dddddd;
	border-left: 2px solid #dddddd;
	border-right: 2px solid #dddddd;
	border-bottom: none;
    position: relative;
    top: 1px;
}

#tour {
    color: #0f95d2;
}

#policy {
    color: #389308;
}

.about-content {
    margin-top: 20px;
    color: black;
}

.schedule-head {
    margin-top: 10px;
}

.schedule-head > span {
    color: #f0631b;
    font-size: 18px;
    font-weight: bold;
}

.schedule-body {
    margin-top: 10px;
    border-bottom: 1px solid #bbbbbb;
}

.shcedule-body > table, th {
    border: 1px solid #bbbbbb;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
    text-align: center;
    font-family: "Roboto", "sans-serif";
    background-color: #f7f7f7;
}

.shcedule-body > table, td {
    border: 1px solid #bbbbbb;
    border-bottom: none;
    border-top: none;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-family: "Roboto", "sans-serif";
    font-weight: 500;
}

.booking-btn {
    background-color: #f1841b;
    width: 80px;
}

.booking-off {
    color: #369306;
}

.booking-btn:hover {
    background-color: #17afee;
}

.booking-btn:visited {
    outline: none;
}

.schedule-item {
    height: 50px;
}

.content-hide-1 {
    display: none;
    position: absolute;
    left: 0px;
    right: 0px;
    width: 100%;
    font-size: 13px;
    bottom: 0px;
    background-color: white;
}

.tour-similar-head {
    margin: 0px;
    margin-top: 25px;
}

.tour-similar-head > span {
    color: #0d9f9e;
    font-size: 18px;
    font-weight: bold;
}

.tour-similar-button > .button {
    background-color: white;
	border: 1px solid rgb(225, 225, 225);
	box-shadow: 0px 1px 3px rgba(000,000,000,0.5), inset 0px 0px 5px rgba(255,255,255,0.6);
	text-shadow: 0px -1px 3px rgba(255,255,255,0.8), 0px 1px 0px rgba(255,255,255,0.3);
    width: 22px;
    font-size: 10px;
    padding: 0px;
    height: 22px;
}
#down-button-tour {
    background: url(/Images/oceanlink/down.png);
    -webkit-background-size: 100% 100%; /* For WebKit*/
    -moz-background-size: 100% 100%;    /* Mozilla*/
    -o-background-size: 100% 100%;      /* Opera*/
    background-size: 100% 100%;         /* Generic*/
}

#up-button-tour {
    background: url(/Images/oceanlink/up.png);
    -webkit-background-size: 100% 100%; /* For WebKit*/
    -moz-background-size: 100% 100%;    /* Mozilla*/
    -o-background-size: 100% 100%;      /* Opera*/
    background-size: 100% 100%;         /* Generic*/
}

.tour-similar-body {
    margin: 0px;
    margin-top: 20px;
}

.tour-post-1 {
	border: 1px solid rgb(177, 177, 177);
	padding: 0px;
	margin-bottom: 20px;
    background-color: white;
    height: 150px;
}

.blog-post-1 {
    padding: 5px;
    height: 100%;
    border-right: 1px solid rgb(177, 177, 177);
    background-color: white;
}

.blog-thumb-1 {
    height: 100%;
    -webkit-background-size: 100% 100%; /* For WebKit*/
    -moz-background-size: 100% 100%;    /* Mozilla*/
    -o-background-size: 100% 100%;      /* Opera*/
    background-size: 100% 100%;         /* Generic*/
}

.blog-content-1 {
    margin: 0px;
    position: relative;
    height: 100px;
}

.blog-price-1 {
    margin: 0px;
    border-top: 1px solid #b2b2b2;
    bottom: 0px;
    position: absolute;
    width: 100%;
}

.tour-post-title-1 {
	padding: 5px 10px 5px 10px;
	text-transform: uppercase;
	font-weight: bold;
    font-size: 15px;
	color: black;
}

.tour-post-location {
	padding: 5px 10px 5px 10px;
	color: rgb(159, 159, 159);
    font-size: 13px;
}

.tour-price-1 {
    padding: 0px;
    text-align: center;
	font-weight: bold;
	font-size: 17px;
	padding-top: 10px;
	color: rgb(205, 20, 20);
    background-color: white;
}

.blog-info {
     padding: 0px;
     height: 100%;
     position: relative;
}

.blog-price-1 > .col-sm-5 {
	padding: 0px;
	padding-bottom: 0px;
    border-left: 1px solid #b2b2b2;
}

.tour-booking-1 {
    background-color: white;
    font-size: 13px;
	height: 100%;
	padding-top: 10px;
    padding-bottom: 11px;
	text-decoration: none;
	color: rgb(58, 56, 57);
	text-align: center;
}

.tour-booking-1 > a {
	text-decoration: none;
	color: black;
}

.tour-booking-1 > a > img {
	margin-right: 2px;
}

.tour-booking-1 > a > span {
	font-weight: 500;
}

.tour-booking-1:hover {
	background-color: #f3c50f;
}

.tour-post-text-hide-1 {
    margin: 0px;
    padding: 2px 10px 2px 10px;
}